
<div class="container">
    <!-- <i class="fa-solid fa-circle-chevron-left"></i> -->
    <h1 class="text-center mt-4 mb-4 title">
        <i class="fa-solid fa-flask"></i>
       
        Seleccione los Medios a usar en las pruebas
    </h1>
    <form *ngIf="mediumsForm" [formGroup]="mediumsForm">
        <div class="col d-flex justify-content-center mt-5">
            <button type="button" class="btn btn-success btn-bio me-4" (click)="addMedium()">
                Agregar muestra
            </button>
            <button type="button" class="btn btn-success btn-bio"
                (click)="removeMedium()">
                Quitar muestra
            </button>
            <!-- <button type="button" mat-stroked-button color="warn" class="btn btn-block mb-3 close" (click)="checar()">
                Checar
            </button>
            <button type="button" mat-stroked-button color="warn" class="btn btn-block mb-3 close" (click)="pdf()">
                Pdf
            </button> -->
        </div>
        <div class="row mt-4" formArrayName="aliases">
            <div *ngFor="let itemList of aliases.controls; let i=index" class="col-4">
                <div [formGroupName]="i" class="div">
                    <mat-form-field class="" appearance="legacy">
                        <mat-label>Medios:</mat-label>
                        <mat-select formControlName="medioId" [required]="true" (selectionChange)="onMedioChange($event.value, itemList)">
                            <!-- {id: 0, name : 'osso'} === {id:0, name: 'osso', tests: []} -->
                            <mat-option *ngFor="let item of mediums" [value]="item.id">{{ item.name }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    -
                    <input type="text" formControlName="subName" (change)="onSubnameChange($event, itemList)">
                </div>
            </div>
        </div>
    </form>
    <hr>
    <br>

    <div *ngIf="this.mediumsSelected.length" class="container h-100">
        <div class="row mb-3" *ngFor="let medio of this.mediumsSelected">
            <!-- <div class="col-8">{{item.medio.name}}</div>
            <div *ngIf="item.medio.name" class="col-4">
               
                <button type="button" class="btn btn-warning" (click)="onNext(item.medio.name)">Editar</button>
            </div> -->

            <div class="col-8">
                {{medio.name}} - {{ medio.subName }}

            </div>
            <div class="col-4">
                <button type="button" class="btn btn-success btn-bio" (click)="onNext(medio)">Editar</button>
            </div>
        </div>

    </div>
    <div class="mt-4 text-center">
        <!-- <button type="button" mat-flat-button class="btn btn-lg" (click)="onSearch()">Continuar</button> -->
        <!-- <button type="button" class="btn btn-success" (click)="onNext()">Continuar</button> -->
    </div>
</div>